.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.01);
  }
  .img_bttn {
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }
  
  .img_bttn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
